<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Library web application" />
    <meta name="keywords" content="Library" />
    <meta name="author" content="Sławomir Adamowicz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <script type="module" src="./publishing-house-list.js" defer="defer"></script>
</head>

<body>
    <div class="container">
        <header>
            <h1>Publishing houses</h1>
        </header>

        <nav>
            <div>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="../../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../../user/component/user-list/user-list.html">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./character-list.html">Characters</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
            <article>
                <header>
                    <h2>Characters</h2>
                </header>

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-for="publishing-house : {publishing-house.publishing-house}">
                            <td data-text="{publishing-house.name}"></td>
                            <td>
                                <a href="#"
                                    data-href="../publishing-house-view/publishing-house-view.html?id={publishing-house.id}">View</a>
                            </td>
                            <td>
                                <a href="#"
                                    data-href="../publishing-house-edit/publishing-house-edit.html?id={publishing-house.id}">Edit</a>
                            </td>
                            <td>
                                <button class="btn" data-click="{onDelete(publishing-house)}">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </main>

        <footer>
            <div>
                Copyright &#169; 2023, Sławomir Adamowicz
            </div>
        </footer>
    </div>
</body>

</html>