<div class="add-publishing-house">
    <h2>Add a New Publishing House</h2>
    <form (ngSubmit)="onClickSubmit()">
        <div class="form-group">
            <label for="name" class="label">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="name" required class="input-field">
        </div>
        <div class="form-group">
            <label for="creationYear" class="label">Creation Year:</label>
            <input type="number" id="creationYear" name="creationYear" [(ngModel)]="creationYear" required
                class="input-field">
        </div>
        <div class="button-container">
            <button type="submit" class="submit-button">Submit</button>
            <a href="/publishing-houses" class="back-button">Back</a>
        </div>
    </form>
</div>