<div class="update-book">
    <h2>Update Book</h2>
    <form (ngSubmit)="onClickSubmit()">
        <div class="form-group">
            <label for="title" class="label">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="book.title" required class="input-field">
        </div>
        <div class="form-group">
            <label for="author" class="label">Author:</label>
            <input type="text" id="author" name="author" [(ngModel)]="book.author" required class="input-field">
        </div>
        <div class="form-group">
            <label for="isbn" class="label">ISBN:</label>
            <input type="text" id="isbn" name="isbn" [(ngModel)]="book.isbn" required class="input-field">
        </div>
        <div class="form-group">
            <label for="numberOfPages" class="label">Number of Pages:</label>
            <input type="number" id="numberOfPages" name="numberOfPages" [(ngModel)]="book.numberOfPages" required
                class="input-field">
        </div>
        <div class="form-group">
            <label for="genres" class="label">Genres:</label>
            <input type="text" id="genres" name="genres" [(ngModel)]="book.genres" readonly class="input-field">
        </div>
        <div class="form-group">
            <label for="publishingHouse" class="label">Publishing House:</label>
            <input type="text" id="publishingHouse" name="publishingHouse" [(ngModel)]="book.publishingHouse.name"
                readonly class="input-field">
        </div>
        <div class="button-container">
            <button type="submit" class="submit-button">Update</button>
            <a href="/publishing-houses/{{id}}/content" class="back-button">Back</a>
        </div>
    </form>
</div>