/* book-view.component.css */
.book-details {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .book-details h2 {
    font-size: 1.8rem;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .book-details p {
    margin: 10px 0;
  }
  
  .book-details .genres {
    font-style: italic;
  }
  
  .book-details .publishing-house {
    font-weight: bold;
  }
  
  .return-link {
    margin-top: 20px;
  }
  
  .return-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .return-button:hover {
    background-color: #0056b3;
  }
  