<div class="library">
    <header class="library-header">
        Publishing houses in library
    </header>
    <div class="library-content">
        <div class="house-container" *ngFor="let publishingHouse of publishingHouses">
            <div class="house">
                <div class="house-info">
                    <div class="house-name">{{publishingHouse.name}}</div>
                    <div class="house-buttons">
                        <a class="view-button" href="/publishing-houses/get/{{publishingHouse.id}}">View</a>
                        <button class="delete-button" (click)="onDelete(publishingHouse.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-button-container">
        <a class="add-button" href="/publishing-houses/create">Add New Publishing House</a>
    </div>
</div>