.add-publishing-house {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #0077cc;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin: 15px 0;
    text-align: left;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button {
    background-color: #0077cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 18px;
}

.submit-button:hover {
    background-color: #005599;
}

.back-button {
    text-decoration: none;
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.back-button:hover {
    background-color: #bbb;
}